.transparent-element {
    box-shadow: rgba(33, 33, 33, 0.8) 0px 0px 1px 2px,
        rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px;
    box-sizing: content-box;
    position: absolute;
    z-index: 9999998;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

/* arrow  */

.left-arrow,
.right-arrow {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.up-arrow,
.down-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.right-arrow {
    border-left: 10px solid white;
}
.left-arrow {
    border-right: 15px solid white;
}
.up-arrow {
    border-bottom: 10px solid white;
}
.down-arrow {
    border-top: 10px solid white;
}

#forwardButton,
#backButton {
    padding: 12px 16px;
    margin: 12px;
}

.removeOverlayOnDomElement {
    z-index: 10;
    position: relative;
}

.overlay {
    box-sizing: content-box;
    z-index: 999999;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease;
}

.box {
    box-sizing: content-box;
    z-index: 100000000;
    background-color: transparent;
    box-sizing: content-box;
    position: absolute;
    visibility: visible;
    background-color: #fff;
    min-width: 250px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
    transition: opacity 0.1s ease-out;
}

.box-header {
    width: inherit !important;
    font-weight: bold !important;
    padding: 12px;
}

.box-body {
    width: inherit !important;
    text-align: center;
}
/* 
body {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
} */

.box-footer {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid rgb(0, 0, 0, 0.2) !important;
    width: inherit !important;
}
